include /helpers/create-element
include /helpers/classes

include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/container/container
include /blocks/content/content
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/img/img
include /blocks/breadcrumbs/breadcrumbs
include /blocks/button/button
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked

doctype html
html(lang='ru')
  include ../head/head
  body 
    include /blocks/header/header
    main: block content
    include /blocks/footer/footer
  +style('rest')
  if isHomePage
    +style('home')
  else
    +style('inner')
  +scripts(['script.js'])
