@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  &__slides
    height 100%
  &__pagination
    position absolute
    display flex
    gap var(--base-padding)
    justify-content center
    align-items center
    margin-y var(--base-padding)
  &__pagination-item
    width 0.8rem
    height 0.8rem
