@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  &__pagination 
    z-index 20
  &__pagination-item
    --transition-duration var(--transition-duration-out)
    border 2px solid var(--color-blue)
    border-radius 100vmax
    transition background-color var(--transition-duration)
    cursor pointer
    &--active
      --transition-duration var(--transition-duration-in)
      background-color var(--color-blue)
