.button
  text-decoration none
  color var(--color-white)
  background-color var(--color-blue)
  transition background-color var(--transition-duration-out)
  &:hover
    transition-duration var(--transition-duration-in)
    @media (min-width point-l)
      color var(--color-white)
      background-color var(--button-hover)
