.footer-menu
  &__item
    position relative
    padding-left 2rem
    & + &
      margin-top 1.25rem
    &::before
      content ''
      position absolute
      top .5rem
      left 0
      width .25rem
      height .25rem
      background-color var(--color-beige)
      border-radius var(--border-radius-big)
    a
      --color-link var(--color-black)
      font-weight bold
      text-decoration none
