.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  fontSize14()
  &__parent
    a
      color var(--color-grey-light)
  &__separator
    width 14px
    height 1px
    margin 0 0.625rem
    background-color var(--color-grey-light)
