mixin breadcrumbs(path = {'parents':[],'current':''})
  .breadcrumbs&attributes(attributes)
    each parent in path.parents
      .breadcrumbs__parent
        a(href='/').link-secondary !{parent}
      .breadcrumbs__separator
    .breadcrumbs__current !{path.current}
