.block-marked
  --color-background var(--color-blue-light)
  --padding 1.5rem 2rem
  padding var(--padding)
  background-color var(--color-background)
  @media (max-width point-m - 1)
    --padding 1.25rem 1.5rem
