h1
.h1
  position relative
  padding-top 1.875rem
  fontSize64()
  font-family 'BN', Arial, sans-serif
  &::before
    content ''
    position absolute
    top 0
    width 9rem
    height .125rem
    background-color var(--color-blue)
  & + .par
    margin-top 1rem
  @media(max-width point-m - 1)
    padding-top 1.25rem
    fontSize40()
    & + .par
      margin-top 0.5rem
