@font-face
  font-family 'Noto Sans'
  src local("NotoSans-Regular"), url("../fonts/NotoSans-Regular.woff2") format("woff2")
  font-weight 400
  font-style normal
  font-display swap

@font-face
  font-family 'BN'
  src local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2")
  font-weight 400
  font-style normal
  font-display swap
