// breakpoints

point-s = 480px
point-m = 800px
point-l = 1000px
point-xl = 1200px
point-hd = 1600px

// functions
padding-x(n)
  padding-right n
  padding-left n

padding-y(n)
  padding-top n
  padding-bottom n

margin-x(n)
  margin-right n
  margin-left n

margin-y(n)
  margin-top n
  margin-bottom n

// font sizes
fontSize64()
  font-size 4rem
  line-height 1.125
fontSize48()
  font-size 3rem
  line-height 1.125
fontSize40()
  font-size 2.5rem
  line-height 1.125
fontSize36()
  font-size 2.25rem
  line-height 1.125
fontSize32()
  font-size 2rem
  line-height 1.125
fontSize28()
  font-size 1.75rem
  line-height 1.125
fontSize24()
  font-size 1.5rem
  line-height 1.4
fontSize20()
  font-size 1.25rem
  line-height 1.4
fontSize16()
  font-size 1rem
  line-height 1.4
fontSize14()
  font-size 0.875rem
  line-height 1.4
