:root
  --color-white #ffffff
  --color-black #292D33
  --color-grey #555657
  --color-grey-light #8C929C
  --color-blue #5C8EE5
  --color-blue-light #D6E5FF
  --color-bg #FAFBFC
  --color-bg-1 #F0F2F5

  --color-border #EBEBF0

  --button-hover #3A71D1

  --border-radius 1.25rem

  --transition-duration-in .1s
  --transition-duration-out .4s

  --icon-logo url(../images/svg-sprites/common.svg#logo)
  --icon-phone url(../images/svg-sprites/common.svg#phone)
  --icon-location url(../images/svg-sprites/common.svg#location)
  --icon-mail url(../images/svg-sprites/common.svg#mail)
