head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  +style('core')

  block head
  title= pageTitle || 'Троя Навигатор - Навигатор по системам динамического позиционирования'
  meta(name='description' content=pageDescription || 'Троя Навигатор - Навигатор по системам динамического позиционирования')
  meta(name='keywords' content=pageKeywords || '')
  link(rel='icon' href='favicon.ico')
  link(rel="icon" href="images/favicon.svg" type="image/svg+xml")
  link(rel="apple-touch-icon" href="images/favicon-180-apple.png")
  link(rel="manifest" href="manifest.webmanifest")
