@import 'includes/variables.core'
@import 'includes/mixins'
@import 'includes/fonts.core'
@import 'includes/reset'

html
  font-family 'Noto Sans', 'BN', 'Arial', sans-serif
  fontSize16()
  scroll-behavior smooth

.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore
.no-break
  white-space nowrap

:is(h2, .h2) + :is(h3, .h3, h4, .h4)
  margin-top .25rem

@import '../blocks/layout'
@import '../blocks/grid'
@import '../blocks/container'
@import '../blocks/content'
@import '../blocks/page-section'
@import '../blocks/page-subsection'
@import '../blocks/p'
@import '../blocks/header/header.core'
@import '../blocks/header-navigation/header-navigation.core'
@import '../blocks/home-header/home-header.core'
@import '../blocks/logo/logo'
@import '../blocks/slider/slider.core'
@import '../blocks/button/button.core'
@import '../blocks/text-align'
@import '../blocks/text-marked'
