.icon-item
  position relative
  padding-left 1.875rem
  text-decoration none
  &::before
    content ''
    position absolute
    top 53%
    left 0
    transform translateY(-50%)
    mask-image var(--footer-icon)
    mask-repeat no-repeat
    mask-size cover
    mask-position center
    background-color var(--color-blue)
  &--address
    --footer-icon var(--icon-location)
    &::before
      width 1rem
      height 1.2rem
  &--mail
    --footer-icon var(--icon-mail)
    &::before
      width 1.3rem
      height 0.9rem
  &--tel
    --footer-icon var(--icon-phone)
    &::before
      width 1.1rem
      height 1.1rem
