.footer
  --color-link var(--color-black)
  border-top 1px solid var(--color-border)
  padding calc(var(--base-padding) * 1.5) 0
  &__inner
    display flex
    align-items center
    justify-content space-between
    gap var(--base-padding)
    @media(max-width point-m - 1)
      flex-direction column
      align-items flex-start
  &__tel
    fontSize24()
  &__icon
    position relative
    &::before
      content ''
      position absolute
      top 50%
      left 0
      transform translateY(-50%)
      mask-image var(--footer-icon)
      mask-repeat no-repeat
      mask-size cover
      mask-position center
      background-color var(--color-blue)
    &--address
      --footer-icon var(--icon-location)
      padding-left 1.5rem
      &::before
        width 1rem
        height 1.2rem
    &--mail
      --footer-icon var(--icon-mail)
      padding-left 2rem
      &::before
        width 1.3rem
        height 0.9rem
