include /blocks/footer-menu/footer-menu
include ../logo/logo

+pageSection({ tag: 'footer' }).footer
  .footer__inner
    +logo.hidden-xs.hidden-s
    a(href='tel:+79213338143').icon-item.icon-item--tel +7 (921) 333-81-43
    //- span.icon-item.icon-item--address г.Москва, ул. Верхние Поля, д.36, к.1, кв.231
    a(href='mailto:troyanavigator@gmail.com').icon-item.icon-item--mail TroyaNavigator@gmail.com
