.home-header
  position relative
  overflow hidden
  &__info
    margin-top 2rem
    fontSize32()
    @media(max-width point-m - 1)
      margin-top 1rem
      fontSize16()
  &__slider
    position absolute
  &__image
    & img
      width 100vw
      height 550px
      @media(max-width point-m - 1)
        height 300px
  &__image-bg
    position absolute
