.home-header
  & .content
    z-index 1
  &__title
    color var(--color-white)
  &__info
    color var(--color-white)
  &__slider
    top 0
    left 0
    bottom 0
    width 100vw
  &__image
    & img
      object-fit cover
      object-position center
  &__image-bg
    width 100%
    height 100%
    background-color rgba(41, 45, 51, 0.6)
