.tabs
  parMargin()
  &__labels
    display flex
    flex-wrap wrap
    margin -(basePadding/3)
    margin-bottom 0
    border-bottom 1px solid #ccc
  &__label
    margin (basePadding/3)
    margin-bottom 0
    padding (basePadding/2) (basePadding*2)
    color var(--color-link)
    background-color #ebe2d6
    border-radius borderRadius borderRadius 0 0
    cursor pointer
    &--active
      color #fff
      background-color #715644
      border-bottom none
      cursor default
      @supports (text-decoration-style dashed)
        text-decoration none
        border-bottom none
  &__item
      display none
      padding-top (basePadding*2)
      &--active
        display block
