mixin tabs(settings = {names:[]})
  - tabs = []
  .tabs&attributes(attributes)
    block
    .tabs__labels
      each item in tabs
        .tabs__label !{item.name}
    .tabs__contents
      each item in tabs
        .tabs__item
          - item.block();
  - delete tabs

mixin tab(settings = {name:''})
  - tabs.push({block: this.block, name: settings.name})
