extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ breadcrumbs: true, backgroundColor: true })
    h1 О компании
    +breadcrumbs({ parents: [ 'Главная' ], current: 'О компании' }).par
  +pageSection
    +pageSubsection
      p Вы можете задать самые сложные вопросы по системам ДП и получить ответ от действующих судовых инженеров, капитанов, проработавших более 10 лет в морском бурении.  
      p Задайте вопрос на почту #[a(href="mailto:troyanavigator@gmail.com") troyanavigator@gmail.com] и он будет переведен профильному инженеру. Мы ответим вам и дадим телефон для прямой связи.                                                        
      p Самые распространенные обращения мы собрали в Навигаторе.
      h2 Навигатор TroyaNavigator
      +grid.par
        +cell
          ul.list-marked
            li Помощь в подготовке и сдаче под класс судов со знаком DYNPOS 1,2,3
            li Подготовка документов, обязательных для судов со знаком DYNPOS 1,2,3
            li Актуализация FMEA анализа
            li Модернизация СУ ДП
        +cell
          +button({ tag:'a' })(href='/services.html').par Подробнее
    +pageSubsection
      p Кроме того, вы можете получить и помощь ДП экспертов в таких сложных процессах, как:
      ul.list-marked.par
        li проектирование СДП;
        li модернизация СУ ДП;
        li технический надзор за проектом;
        li настройка систем до и после сдачи под класс.
      p Дистанционные проверки работы СДП с расшифровкой данных и предоставлением специальных отчетов.
