extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ breadcrumbs: true, backgroundColor: true })
    h1 Контакты
    +breadcrumbs({ parents: [ 'Главная' ], current: 'Контакты' }).par
  +pageSection
    +pageSubsection
      h2 Свяжитесь с нами
      p Телефон: #[a(href="tel:+79213338143") +7 (921) 333-81-43]
      p E-mail: TroyaNavigator@gmail.com
      //- p Адрес: г.Москва, ул. Верхние Поля, д.36, к.1, кв.231
      p График работы: Пн-Пт с 09:00 до 18:00

    //- +grid.page-subsection
    //-   +cell({ m:12 })
    //-     .map
    //-       script(type='text/javascript' charset='utf-8' async src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A09d3653d4f7bdcec27382fdf325a979dd8bbc128c7bb8c114466a2235f2eaf59&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true')
    
    //- +pageSubsection
    //-   h2 Информация о юридическом лице
    //-   p ИНН КПП
    //-   h2 Реквизиты
    //-   p р-с
