extends /blocks/layout/layout
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isHomePage = true
block content
  .container.page-section.page-section--home-header.home-header
    +slider({ pagination: true, arrows: false }).home-header__slider
      - 
        const images = [
          {
            image: '1',
            alt: 'Фото судна',
          },
          {
            image: '2', 
            alt: 'Фото судна',
          },
          {
            image: '3',
            alt: 'Фото судна',
          },
          {
            image: '4',
            alt: 'Фото судна',
          },
          {
            image: '5',
            alt: 'Фото судна',
          },
          {
            image: '6',
            alt: 'Фото судна',
          },
          {
            image: '7',
            alt: 'Фото судна',
          },
          {
            image: '8',
            alt: 'Фото судна',
          },
          {
            image: '9',
            alt: 'Фото судна',
          }, 
        ]
      each item in images
        +slide.home-header__slide
          .home-header__image-bg
          .home-header__image
            +img({
              name: item.image,
              path: '/images/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' }
              ],
              density: [
                { name: 'xs', values: [ 1,2 ] },
                { name: 's', values: [ 1,2 ] },
                { name: 'm', values: [ 1,2 ] },
              ],
            })(alt=item.alt width='1920' height='1236') 
    .content 
      h1.home-header__title Троя Навигатор
      p.home-header__info Навигатор по системам динамического позиционирования    
