extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ breadcrumbs: true, backgroundColor: true })
    h1 Услуги
    +breadcrumbs({ parents: [ 'Главная' ], current: 'Услуги' }).par

  +pageSection
    +grid({ alignItems: 'center' }).page-subsection.text-align-center
      -
        links = [ 
          { 
            text: 'Подготовка и сдача под класс судов со знаком DYNPOS 1,2,3',
            id: 'prepare',
          },
          { 
            text: 'Подготовка документов',
            id: 'documents',
          },
          { 
            text: 'Актуализация FMEA анализа',
            id: 'fmea',
          },
          { 
            text: 'Модернизация СУ ДП',
            id: 'modernization',
          },
          { 
            text: 'Технический перевод',
            id: 'translation',
          },
          { 
            text: 'Другие услуги',
            id: 'others',
          },
        ]
      each item in links 
        +cell({ m:2, xs:6 })
          a(href=`#${item.id}`)= item.text
        
    +pageSubsection
      h2#prepare Помощь экспертов СДП в подготовке и сдаче под класс судов со знаком DYNPOS 1,2,3 
      ul.list-marked.par
        li Подготовка программы подтверждающих ходовых испытаний СДП;
        li Разработка анализа характера и последствий отказов;
        li Проведение ежегодных и пятилетних ходовых испытаний;
        li Составление FMEA отчета для одобрения РС;
        li Чек лист дистанционной проверки работы СУ ДП для составления до-доковых заявок на пятилетний ремонт.
      
    +grid.block-marked.page-subsection
      +cell
        +grid({ noGap: 'y' })
          +cell.par
            h3 В рамках подготовки судов к проведению подтверждающих ходовых испытаний:
            ul.list-marked.par
              li Проводится настройка работы комплекса пропульсивных механизмов, с внесением изменений в построечные калибровочные таблицы системы управления ДП каждого ПУ;
              li Проводится настройка работы интегрированных судовых систем в режиме ДП, с внесением изменений параметров PMS.
          +textMarked({ tag:'p', size: 's', color: 'blue' })(class= cellClasses({ m:8 })).text-align-right.text-margin-left #[strong Код ОКВЭД 62.01] - Разработка компьютерного программного обеспечения. Осуществляем настройку программного обеспечения, чтобы оно функционировало в рамках информационной системы заказчика.

      +cell
        +grid({ noGap: 'y' })
          +cell.par
            p Проводится дистанционная проверка системы ДП с предоставлением компьютерного оборудования и ПО для записи и расшифровки результатов тестов.
            p По результатам проведенной ревизии СДП:
            ul.list-marked.par
              li проводится расшифровка и полная обработка данных, предоставленных заказчиком;
              li создание специальных отчетов для внесения изменений в работу ПО или замену модулей  производителем систем.
          +textMarked({ tag:'p', size: 's', color: 'blue' })(class= cellClasses({ m:8 })).text-align-right.text-margin-left #[strong Код ОКВЭД 63.11] - Деятельность по обработке данных, предоставление услуг по размещению информации и связанная с этим деятельность. Осуществляем полную обработку данных и создаем специальные отчеты на основании данных, предоставленных заказчиком.
    
    +pageSubsection
      h2#documents Документы, обязательные для судов со знаком DYNPOS 1,2,3
      h3 Руководство по использованию системы ДП:
      ul.list-marked.par
        li ASOG;
        li CAMO;
        li Чек-лист проверки системы ДП перед началом ее использования с учетом специфики применения системы ДП;
        li Чек-лист регулярных проверок системы ДП;
        li Процедура восстановления системы ДП после обесточивания судна;
        li Диаграммы способности удержания судном со знаком DYNPOS-2,3 в символе класса точки позиционирования для полностью исправной системы ДП, а также после возникновения единичной наихудшей неисправности в СДП, как это определено в FMEA.

    +pageSubsection
      h2#fmea Актуализация FMEA анализа в соответствии с рекомендациями IMCA M109, IMCA M166, IMCA M178
      ul.list-marked.par
        li Для представления документации фрахтователю судна.

    +pageSubsection
      h2#modernization Модернизация СУ ДП
      ul.list-marked.par
        li Технический надзор за проектом;
        li Монтаж СУ ДП;
        li Наладка СУ ДП;
        li Сдача под класс по окончании модернизации.

    +grid({ noGap: 'y' }).block-marked.page-subsection
      +cell.par
        h3 В рамках подготовки и проведения модернизации СУ ДП:
        ul.list-marked.par
          li Разработка технического задания производителю системы управления ДП на основании данных дистанционной проверки системы ДП;
          li Настройка работы оборудования системы управления ДП;
          li Сдача под класс по окончании модернизации СДП.
      +textMarked({ tag:'p', size: 's', color: 'blue' })(class= cellClasses({ m:8 })).text-align-right.text-margin-left #[strong Код ОКВЭД 62.01] - Разработка компьютерного программного обеспечения. Планирование и проектирование компьютерных систем, которые объединяют компьютерное оборудование, программное обеспечение и технологии передачи.

    +pageSubsection
      h2#translation Технический перевод
      p Технический перевод уже имеющейся на судне документации, касающейся системы ДП, с английского и немецкого языков, а также разработка отсутствующей документации для судов со знаками DYNPOS-1, DYNPOS-2 или DYNPOS-3.
    
    +pageSubsection
      h2#others Другие услуги
      p Также готовы оказать услуги по следующим направлениям:
      p #[strong 1. Разработка документации в соответствии с требованиями Международного Кодекса по Управлению Безопасностью (МКУБ) и других резолюций и конвенций Международной морской организации (ИМО).]
      p #[strong 2. Экспертная поддержка в области соответствия требований Российского Регистра Судоходства и других классификационных обществ в отношении посадочных площадок, расположенных на морских судах и плавучих буровых установок. Проведение совместных инспекторских проверок на вышеуказанных объектах с выработкой рекомендаций по устранению выявленных замечаний.]
      p #[strong 3. Оценка готовности персонала морских объектов и судов шельфового флота к проведению вертолетных операций.]
      p #[strong 4. Определение технического состояния систем морской безопасности судов шельфового флота и морских объектов:]
      ul.list-marked.par
        li навигационных систем и систем связи;
        li якорных и швартовных систем удержания / систем динамического позиционирования;
        li систем жизнеобеспечения и противопожарных систем;
        li спуско-подъемных механизмов опорных колонн и систем передвижения буровой вышки СПБУ (JU);
        li балластных систем и систем забортной арматуры;
        li аварийно-спасательных и эвакуационных систем;
        li якорных, швартовных, грузовых и буксирных устройств;
        li систем вертолетного обеспечения.
      p #[strong 5. Оценка мореходного состояния (конструктивной прочности, герметичности корпуса, остойчивости и пр.):]
      ul.list-marked.par
        li судов обеспечения (AHTS, DS, SS, SV и пр.);
        li накопительных установок (FSO);
        li полупогружных установок (FPU);
        li самоподъемных буровых установок (JU);
        li стационарных платформ (MSP) и блок-кондукторов (BC).
      p #[strong 6. Проведение расследования аварий, связанных с деятельностью флота на континентальном шельфе:]
      ul.list-marked.par
        li взаимодействие между судном снабжения и объектом при проведении операции внешнего обеспечения;
        li выполнения операций морских инженерных и подводно-технических работ;
        li буксирных операций;
        li аварийно-спасательных операций, включая штормовые повреждения судов и морских объектов.
