a
  color var((--color-link), #555657)
  transition color var(--transition-duration-out)
  &[href^='#']
    text-decoration-style dotted
  @media(min-width point-l)
    &:hover
      transition-duration var(--transition-duration-in)
      @media (min-width point-l)
        color var(--color-blue)
  &:active
    color var(--color-link-active)
