.logo
  display flex
  &__image
    width 6.5rem
    height 3.75rem
    mask-image var(--icon-logo)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    background-color var(--color-blue)
    transition opacity var(--transition-duration-out)
    @media(min-width point-l)
      &:hover
        opacity 0.8
        transition-duration var(--transition-duration-in)
