.page-section
  position relative
  @media (min-width point-m)
    padding 3.75rem 0
  @media (max-width point-m - 1)
    padding 2.5rem 0
  &--no-padding
    &--top
      @media (min-width point-m)
        padding-top 0
      @media (max-width point-m - 1)
        padding-top 0
    &--bottom
      @media (min-width point-m)
        padding-bottom 0
      @media (max-width point-m - 1)
        padding-bottom 0
  &--background-color
    background-color var(--color-bg-1)
  &--breadcrumbs
    padding-y 3.125rem
    @media (max-width point-m - 1)
      padding-y 2.5rem
  &--home-header
    @media (min-width point-m)
      padding 11rem 0
    @media (max-width point-m - 1)
      padding 5.5rem 0
