h3
.h3
  fontSize24()
  p + &
  .par + &
    margin-top 1.5rem
  & + p
  & + .par
  & + .unordered-list
    margin-top .625rem
  @media(max-width point-m - 1)
    fontSize20()
    p + &
    .par + &
      margin-top 1.25rem
