.list-marked
  & + &
    margin-top .625rem
  li
    position relative
    padding-left .875rem
    & + li
      margin-top .625rem
    &::before
      content ''
      position absolute
      top 50%
      left 0
      width .25rem
      height .25rem
      background-color var(--color-grey)
      border-radius 100vmax
      translate 0 -50%
