h2
.h2
  position relative
  padding-top 1.875rem
  fontSize36()
  &::before
    content ''
    position absolute
    top 0
    width 9rem
    height .125rem
    background-color var(--color-blue)
  p + &
  .par + &
    margin-top 3rem
  & + p
  & + .par
  & + .unordered-list
    margin-top .75rem
  @media(max-width point-m - 1)
    padding-top 1.25rem
    fontSize28()
    p + &
    .par + &
      margin-top 2rem
