.header
  position relative
  padding calc(var(--base-padding) * 1.5) 0
  & .content
    position relative
    display flex
    @media (max-width point-m - 1)
      column-gap calc(var(--base-padding)/2)
  &__switcher
    position relative
    width 1.5rem
    height 1.5rem
    padding 0
    border none
    & span
      display block
    &--active
      & .header__switcher-hamburger
        & span
          width 0%
      & .header__switcher-cross 
        & span 
          &:nth-child(1)
            height 1.5rem
          &:nth-child(2)
            width 1.5rem
  &__switcher-hamburger
    position absolute
  &__switcher-cross
    position absolute
  &__navigation
    margin-x auto
    @media (max-width point-m - 1)
      position absolute
  &__navigation-logo
    margin-right 3.125rem
    @media (max-width point-m - 1)
      margin-right 0
  &__navigation-phone
    margin-left calc(3.125rem - 1.875rem)
    font-weight 600
    @media (max-width point-m - 1)
      margin-left 0
