include ../header-navigation/header-navigation
include ../logo/logo

header.header.container
  .content
    +logo.header__navigation-logo
    button(type='button' aria-label='Открыть меню').header__switcher.hidden-hd.hidden-xl.hidden-l.hidden-m
      .header__switcher-hamburger
        span 
        span 
        span 
      .header__switcher-cross
        span 
        span 
    +headerNavigation(mainMenu).header__navigation
    a(href='tel:+79213338143').icon-item.icon-item--tel.header__navigation-phone +7 (921) 333-81-43
