.header
  z-index 1000
  --color-link var(--color-black)
  & .content
    align-items center
    @media (max-width point-m - 1)
      justify-content space-between
  &__switcher
    background-color transparent
    order 2
    & span
      background var(--color-black)
    &--active
      & ~ ^[-2]__navigation
        opacity 1
        transform none
        pointer-events auto
        transition opacity 0.3s
      & .header__switcher-hamburger
        & span
          transition .25s ease-in-out
          &:nth-child(1)
            transition-delay 0s
          &:nth-child(2)
            transition-delay .02s
          &:nth-child(3)
            transition-delay .03s
      & .header__switcher-cross 
        & span 
          transition .25s ease-in-out
          &:nth-child(1)
            transition-delay .05s
          &:nth-child(2)
            transition-delay .06s
  &__switcher-hamburger
    top 0
    & span 
      position relative
      width 1.5rem
      height 2px
      transition .25s ease-in-out
      &:nth-child(1)
        transition-delay .06s
      &:nth-child(2)
        margin-y 0.5rem
        transition-delay .07s
      &:nth-child(3)
        margin-y 0.5rem
        transition-delay .08s
  &__switcher-cross
    top 0
    height 100%
    width 100%
    transform rotate(45deg)
    & span
      transition .25s ease-in-out
      &:nth-child(1)
        position absolute
        top 0
        left 50%
        height 0%
        width 2px
        transform translateX(-50%)
        transition-delay 0s
      &:nth-child(2)
        position absolute
        top 50%
        left 0
        width 0%
        height 2px
        transform translateY(-50%)
        transition-delay .01s
  &__navigation
    @media (max-width point-m - 1)
      top 5.2rem
      left 0
      display block
      width 100%
      max-width 100vw
      padding-x var(--base-padding)
      background-color var(--color-bg)
      border-top 1px solid var(--color-border)
      opacity 0
      transition-property opacity, transform
      transition-duration 0.4s
      pointer-events none
  &__navigation-phone
    text-decoration none
