.header-navigation
  @media (max-width point-m - 1)
    box-shadow 0 20px 20px -20px rgba(0,0,0,0.2)
  &__list 
    @media (max-width point-m - 1)
      flex-direction column
  &__item
    & a
      text-decoration none
      transition color var(--transition-duration-out), border-color var(--transition-duration-out)
      &:hover
        color var(--color-blue)
        border-color var(--color-blue)
