.header-navigation
  &__list 
    display flex
    column-gap calc(var(--base-padding) * 2)
    @media (max-width point-m - 1)
      row-gap calc(var(--base-padding) * 2)
      padding calc(var(--base-padding) * 1.5) 0
  &__item
    & a
      display inline-block
      font-weight 600
      border-bottom 1px solid transparent
